body, html {
	width: 100%;
	height: 100%;
}

.summary-text {
    font-size: 130%;
    font-family: cursive;
}

.error {
    display: inherit;
}

.firebase-ui-login {
    margin-top: 5%;
}

#wrapper.toggled #menu-toggle {
    background: white;
    color: #006699;
}

#menu-toggle {
    background: #006699;
    color: white;
    border: 1px solid #006699;
}

#menu-toggle:hover {
    background: white;
    color: #006699;
}

#nav-brand-custom .navbar-brand{
    color: #006699;
}

#nav-brand-custom .navbar-brand:hover {
    background: white;
}

#login-btn .nav-link, #signup-btn .nav-link, #logout-btn .nav-link {
    color: #006699;
}

#login-btn .nav-link:hover, #signup-btn .nav-link:hover, #logout-btn .nav-link:hover {
    border: 2px solid #006699;
    background: white;
    border-radius: 5px;
}

#site-search-bar {
    margin: 0 auto;
    width: 150%;
    margin-top: 2%;
    text-align: center;
    color: #006699;
    border: 1px solid #006699;
}

#purchase-number-modal {
    width: 50%;
    margin: 0 auto;
}

/*@media screen and (max-width: 690px) {
    #site-search-bar {
        margin-left: 0;
    }
}*/

