{% extends 'base.html' %}

{% block title %}
    TheWebComm
{% endblock title %}

{% block head %}

        {{ super() }}
        <script src="/angular/angular.min.js"></script>
        <script src="/angular/angular-route.min.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/ng-controllers.js"></script>
        <script src="//apis.google.com/js/client:plusone.js?"></script>

{% endblock head %}    

{% block content %}
    <div ng-app="dannenhauerComm">

        <div class="container">
            <div ngController="RootCtrl">
               <ng-include src="'/login'" ng-controller="LoginCtrl"></ng-include>
            </div>
        </div>

        <ng-view></ng-view> 
    </div>    
    
    
    {% if google_user %}
        <script>window.google_logout_url = "{{googleurl}}"</script>
    {% else %}
        <script>window.google_login_url = "{{googleurl}}"</script>
    {% endif %}

{% endblock content %}

{% block footer %}

    {{ super() }}
    
{% endblock footer %}

