{% extends 'base.html' %}

{% block head %}

        {% block title %}
            DannenhauerComm
        {% endblock title %}
        
        {{ super() }}

        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/sidenav.css">

        <script src="/angular/angular.min.js"></script>
        <script src="/angular/angular-route.min.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/ng-controllers.js"></script>
        <script src="/js/gapi_endpoint_loader.js"></script>
        <script src="//apis.google.com/js/client:plusone.js?onload=init"></script>
{% endblock head %}    

{% block content %}
    <div id="wrapper">
        <div class="container" ng-controller="RootCtrl as rc" ng-init="">

            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="nav-item side-link"><a href="/#/contact">Contact</a></li>
                    <li class="nav-item side-link"><a href="/#/about">About</a></li>
                    <li class="nav-item side-link"><a href="/#/faq">FAQ</a></li>
                </ul>
            </div>

            <div id="page-content-wrapper" class="pcw-custom">
                <nav class="navbar custom-nav" role="navigation">
                    <ul class="nav navbar-nav">
                        <li class="nav-item menu-toggle-parent">
                            <a id="menu-toggle" class="btn btn-default btn-primary menu-button" type="button" ng-click="toggleMenu()">
                                <span class="fa fa-list fa-1x" aria-hidden="true"></span>
                            </a>
                        </li>
                        <li id="nav-brand-custom" class="nav-item">
                            <a class="navbar-brand col-xs-12 text-center" href="/">DannenhauerComm</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li id="login-btn" class="nav-item" ng-if="!userSignedIn" ng-cloak>
                            <a class="nav-link col-xs-6 col-sm-12 col-md-12 col-lg-12 text-center login-anchor" href="/#/login">
                                <i class="fa-1x login-text">login</i>
                                <i class="fa fa-sign-in fa-2x"></i>
                            </a>
                        </li>
                        <li id="signup-btn" class="nav-item" ng-if="!userSignedIn" ng-cloak>
                            <a class="nav-link col-xs-6 col-sm-12 col-md-12 col-lg-12 text-center signup-anchor" href="/#/signup">
                                <i class="fa-1x signup-text">signup</i>
                                <i class="fa fa-user-plus fa-2x"></i>
                            </a>
                        </li>
                        <li id="logout-btn" class="nav-item" ng-if="userSignedIn" ng-cloak>
                            <a class="nav-link col-xs-6 col-sm-12 col-md-12 col-lg-12 text-center" href="/logout">
                                <i class="fa-1x">Welcome, {{username}}</i>
                                <i class="fa fa-2x fa-sign-out"></i>
                            </a>
                        </li>
                    </ul>
                </nav>
                <ng-view></ng-view>
            </div>
        </div>
    </div>
{% endblock content %}

{% block footer %}

    {{ super() }}
    <script src="/js/index.js"></script>

{% endblock footer %}

