{% extends 'base.html' %}

{% block title %}
    TheWebComm
{% endblock title %}

{% block head %}

        {{ super() }}
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/css/sidenav.css">

        <script src="/angular/angular.min.js"></script>
        <script src="/angular/angular-route.min.js"></script>
        <script src="/js/app.js"></script>
        <script src="/js/ng-controllers.js"></script>
        <script src="/js/gapi_endpoint_loader.js"></script>
        <script src="//apis.google.com/js/client:plusone.js?onload=init"></script>
{% endblock head %}    

{% block content %}
    <button class="btn btn-primary">Load Login Options</button>
    <div id="firebaseui-auth-container" class="firebase-ui-login"></div>
{% endblock content %}

{% block footer %}

    {{ super() }}
    <script src="/js/index.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.2/firebase.js"></script>
    <script src="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase-messaging.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/1.0.0/firebaseui.css">
    
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyCKWloQTS7oTfssWSYoXprCRA5PoZSgqAM",
            authDomain: "thewebcomm.firebaseapp.com",
            databaseURL: "https://thewebcomm.firebaseio.com",
            storageBucket: "thewebcomm.appspot.com",
            messagingSenderId: "656907168513",
            'signInSuccessUrl': '/#/profile',
            'signInOptions': [
                {
                    provider: firebase.auth.GoogleAuthProvider.PROVIDER_ID,
                    scopes: [
                        'https://www.googleapis.com/auth/plus.login'
                    ]
                },
                {
                    provider: firebase.auth.FacebookAuthProvider.PROVIDER_ID,
                    scopes: [
                        'public_profile',
                        'email',
                        'user_likes',
                        'user_friends'
                    ]
                },
                {
                    provider: firebase.auth.TwitterAuthProvider.PROVIDER_ID,
                }
            ],
        };

        firebase.initializeApp(firebaseConfig);
        var ui = new firebaseui.auth.AuthUI(firebase.auth());
        ui.start('#firebaseui-auth-container', firebaseConfig);
        

    </script>

{% endblock footer %}

